.notification {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 20;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    overflow: hidden;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f0f0f0;
}

#start-button {
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px; /* 角を丸くする */
}

#container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

#count {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
    color: rgba(0, 0, 0, 0.1); /* 色を薄くする */
    z-index: -1; /* 背景の後ろに配置 */
    pointer-events: none; /* マウスイベントを無視する */
}

#text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    margin: 0px;
    transition: opacity 0.2s ease; /* 透明度の変化速度を0.2秒に */
    animation-duration: 0.2s; /* アニメーションの継続時間を0.2秒に */
    animation-fill-mode: forwards;
}

#game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 10; /* 画面上の他の要素よりも前面に表示 */
    font-size: 2em; /* 中央の文字より小さいフォントサイズ */
    font-family: Arial, sans-serif; /* フォントを統一 */
}

#game-over h1 {
    font-size: 1.5em; /* 文字のサイズを小さくする */
}

#game-over p {
    font-size: 0.6em; /* Your Scoreのフォントサイズを小さくする */
    margin: 6px 0 0 0; /* 上に少し余白を設定 */
}

/* failed withの文字サイズをさらに小さくする */
#failed-text {
    font-size: 0.6em; /* フォントサイズを設定 */
    margin: 4px 0 0 0; /* 上に少し余白を設定 */
}

#game-over-button {
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px; /* 角を丸くする */
}

#start-button:active, #game-over-button:active {
    transform: scale(1.1);
    background-color: black;
    color: white;
}

@keyframes moveRight {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(calc(-50% + 500px), -50%);
        opacity: 0;
    }
}

@keyframes moveLeft {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(calc(-50% - 500px), -50%);
        opacity: 0;
    }
}

#score, #timer {
    font-size: 1.5em;
    margin: 10px;
    position: absolute;
    top: 10px; /* 画面の上部に固定 */
}

#timer {
    font-size: 1.5em;
    margin: 10px;
    position: absolute;
    top: calc(50% - 120px); /* 画面の中央の少し上 */
    left: 50%;
    transform: translate(-50%, -50%);
}
